.flex {
	display: flex;
	flex-direction: row;
	&.flex-column {
		flex-direction: column;
	}
	&.align-center {
		align-items: center;
	}
	&.justify-center {
		justify-content: center;
	}
}

.glow {
	animation: pulseGlow 3s linear infinite;
	@keyframes pulseGlow {
		0% {
			filter: drop-shadow(0 0 4px #fff) drop-shadow(-4px 0 10px rgb(128, 0, 255)) drop-shadow(4px 0 10px #0ff);
		}
		50% {
			filter: unset;
		}
		100% {
			filter: drop-shadow(0 0 4px #fff) drop-shadow(-4px 0 10px rgb(128, 0, 255)) drop-shadow(4px 0 10px #0ff);
		}
	}
}

.container {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
	display: flex;
	flex-direction: column;
}

.box {
	border: $boxed-border;
	background: $boxed-background;
	color: white;
  padding: 40px;
  border-radius: 16px;
}

.controls {
	position: fixed;
	top: 20px;
	left: 20px;
	width: 220px;
	display: flex;
	flex-direction: column;
	z-index: 100;

	& > * {
		margin-bottom: 10px;
	}
}