.game-logo {

  position: fixed;
  left: 20px;
  bottom: 20px;
  // animation: rotateYAnimation 8s linear infinite;

  @keyframes rotateYAnimation {
    from {transform: rotateY(0deg);}
    to {transform: rotateY(360deg);}
  }

  @keyframes rotateXAnimation {
    from {transform: rotateX(0deg);}
    to {transform: rotateX(360deg);}
  }
}

