.prize-show {

  .prize-show-bg {
    background-image: url(/assets/images/prize_bg.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100vw;
    height: 155px;
  }
  .prize-show-text {
    width: 1190px;
    margin: 70px auto;
    height: 155px;
    font-size: 2em;
    font-weight: 400;
  }
  .prize-name {
    padding: 20px;
    display: flex;
    flex: 1;
    text-align:center;
    justify-content: center;
  }
  .prize-image {
    flex: 0 0 300px;
    img {
      width: 100%;
      height: auto;
    }
  }
  .prize-sponsor {
    padding: 0 40px;
    flex: 1;
    display: flex;
    justify-content: center;
    img {
      max-width: 100%;
    }
  }
}
