.route-game-list {
  margin-top: 40px;

  .container {
    border: $boxed-border;
    background: $boxed-background;
    color: white;

    h1 {
      color: $orange;
      margin: 0 0 20px;
    }

    li {
      padding: 20px;
      border-top: 1px solid $border-color
    }

    .label {
      flex: 1 1 auto;
      display: flex;
      flex-direction: row;
      align-items: baseline;
    }

    .name {
      font-size: 1.5em;
      font-weight: 600;
    }
    .status {
      font-size: 1.25em;
      font-weight: 400;
      font-style: italic;
      margin-left: 10px;
    }

    .controls {
      margin-top: 20px;
      & > * {
        margin-right: 10px;
      }
    }
  }

}