.btn {
  padding: 12px 24px;
  font-size: 1.4em;
  border-radius: 100px;
  cursor: pointer;

  &.btn-purple {
    background: radial-gradient(lighten($dark-purple, 20%), $dark-purple);
    border: 4px solid $dark-purple;
    color: white;
    font-weight: 600;

    &:hover,&:active,&:focus {
      background: radial-gradient($dark-purple, darken($dark-purple, 5%));
    }
  }

  &.btn-orange {
    background: radial-gradient(lighten($orange, 20%), $orange);
    border: 4px solid $orange;
    color: black;
    font-weight: 600;

    &:hover,&:active,&:focus {
      background: radial-gradient($orange, darken($orange, 10%));
    }
  }

  &.btn-round {
    font-size: 1em;
    padding: 5px;
    height: 90px;
    width: 90px;
  }
}