// colors
$border-color:	#3d758c;
$dark-purple:   #470147;
$orange:				#e1a02e;

$boxed-border: 4px solid $border-color;
$boxed-background: linear-gradient(45deg, black, $dark-purple);

@import "./reset.scss";
@import "./common.scss";
@import "./buttons.scss";

@import "./routes/home.scss";
@import "./routes/findPlayer.scss";
@import "./routes/game/gameDetails.scss";
@import "./routes/game/gameList.scss";
@import "./routes/game/gameNew.scss";

@import "./routes/game/q/questionDetails.scss";

@import "./components/askQuestion.scss";
@import "./components/gameLogo.scss";
@import "./components/lifeLines.scss";
@import "./components/prizeShow.scss";
@import "./components/prizeStack.scss";
