html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background: #00FF00;
	font-family: 'Helvetica Neue', arial, sans-serif;
	font-weight: 400;
	color: #444;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
}

#app {
	height: 100%;
}

.flex {
	display: flex;
	flex-direction: row;
	&.flex-column {
		flex-direction: column;
	}
	&.align-center {
		align-items: center;
	}
	&.justify-center {
		justify-content: center;
	}
}

@keyframes rotateYAnimation {
	from {transform: rotateY(0deg);}
	to {transform: rotateY(360deg);}
}
@keyframes rotateXAnimation {
	from {transform: rotateX(0deg);}
	to {transform: rotateX(360deg);}
}

@import "./routes/game/gameNew.scss";
@import "./routes/game/gameStart.scss";
@import "./routes/game/q/questionShow.scss";
@import "./components/prizeShow.scss";
@import "./components/prizeStack.scss";
