html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	// background: #00FF00;
	font-family: 'Helvetica Neue', arial, sans-serif;
	font-weight: 400;
	color: #444;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
}

ol, li {
	list-style: none;
	margin: 0;
	padding: 0;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;
}

#app {
	height: 100%;
  width: 100%;
}
