.route-game-details {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;

  .prizes {
    max-width: 80vw;
    display: flex;
    flex-direction: column-reverse;
    position: absolute;
    left: -50px;
    height: 100vh;
    justify-content: space-evenly;

    .prize-wrap {
      margin: -100px 0;
      transform: translateX(110vw); // hide off to the right

      &.show {
        transform: translateX(0);
        transition: transform 1s;
      }
    }

    .no-prize {
      position: absolute;
      left: calc(50vw - 150px);
      width: 300px;
      text-align: center;
    }
  }

  .prize-stack-wrap {
    z-index: 10;
    position: absolute;
    top: 20px;
    right: 20px;
    bottom: 20px;
    height: calc(100vh - 40px);
  }
}