<html>
  <head>
    <meta name="version" content="<%= version %>">
    <meta name="build_time" content="<%= build_time %>">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>Who Wants to be a JavaScriptær?</title>
  </head>
  <body>
    <main id="app"></main>
  </body>
</html>